{% extends 'os/osbase.html' %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/table.css')}}">
{% endblock %}

{% block header %}
    <h1>{% block title %}{{ pagename }}{% endblock %}</h1>
    {% if g.user %}
    <a href="{{ url_for('carinfo.add') }}" class="action">添加</a>
    {% endif %}
{% endblock %}

{% block content %}
    <table class="dataframe" border="1">
        <thead>
            <tr>
                <th>车辆名</th>
                <th>出借状态</th>
                <th>车牌号</th>
                <th>出借次数</th>
                <th>维修次数</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for data in datas %}
            <tr>
                <td>{{ data['carname'] }}</td>
                <td>{% if data['status'] == 'in' %}
                    在库
                    {%  elif data['status'] == 'out' %}
                    借出
                    {% else %}
                    维修
                    {% endif %}
                </td>
                <td>{{ data['platenum'] }}</td>
                <td>{{ data['count'] }}</td>
                <td>{{ data['repair_count'] }}</td>
                <td>
                    <a href="{{ url_for('carinfo.update', doc_id=data.doc_id) }}">修改</a>
                    |
                    <a href="{{ url_for('carrental.info', doc_id=data.doc_id) }}">租还</a>
                    |
                    <a href="{{ url_for('carrepair.info', doc_id=data.doc_id) }}">维修</a>
                    |
                    <a class="danger" onclick='return confirm("确认删除？");' 
                    href="{{ url_for('carinfo.delete',doc_id=data.doc_id) }}">
                    删除
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
