{% extends 'os/osbase.html' %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/table.css')}}">
{% endblock %}

{% block header %}
    <h1>{% block title %}车辆租赁详情{% endblock %}</h1>
    {% if g.user %}
    <a href="{{ url_for('carrental.add', doc_id=doc_id) }}" class="action">添加</a>
    {% endif %}
{% endblock %}

{% block content %}
<table class="dataframe" border="1">
    <thead>
        <tr>
            <th>租车人</th>
            <th>起租时间</th>
            <th>还车时间</th>
            <th>租金</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for uuid,item in items %}
        <tr>
            <td>{{ item["user"] }}</td>
            <td>{{ time_format(item["start"]) }}</td>
            <td>{{ time_format(item["stop"]) }}</td>
            <td>{{ item["cost"] }}</td>
            <td><a href="{{ url_for('carrental.delete', doc_id=doc_id, rental_id=uuid) }}">
                删除
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}