{% extends 'os/osbase.html' %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/table.css')}}">
{% endblock %}

{% block header %}
    <h1>{% block title %}车辆维修详情{% endblock %}</h1>
    {% if g.user %}
    <a href="{{ url_for('carrepair.add', doc_id=doc_id) }}" class="action">添加</a>
    <a href="{{ url_for('carinfo.index') }}" class="action">返回</a>
    {% endif %}
{% endblock %}

{% block content %}
<table class="dataframe" border="1">
    <thead>
        <tr>
            <th>维修地点</th>
            <th>维修时间</th>
            <th>维修费用</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for uuid,item in items %}
        <tr>
            <td>{{ item["place"] }}</td>
            <td>{{ time_format(item["time"]) }}</td>
            <td>{{ item["cost"] }}</td>
            <td>
                <a href="{{ url_for('carrepair.update', doc_id=doc_id, repair_id=uuid) }}">
                修改
                </a>
                |
                <a class="danger" onclick='return confirm("确认删除？");'
                href="{{ url_for('carrepair.delete', doc_id=doc_id, repair_id=uuid) }}">
                删除
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}