{% extends 'os/osbase.html' %}

{% block header %}
<h1>{% block title %}修改维修记录{% endblock %}</h1>
{% if g.user %}
    <a href="{{ url_for('carrepair.info', doc_id=doc_id) }}" class="action">返回</a>
{% endif %}
{% endblock %}

{% block content %}
<form class="cardata" method="post">
    <label for="place">维修地点</label>
    <input type="text" id="place" name="place" value="{{ request.form['place'] or item['place'] }}" placeholder="详细地址" required>
    <label for="time">维修时间</label>
    <input type="datetime-local" id="time" name="time" value="{{ request.form['time'] or time_format2form(item['time']) }}" 
    pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" required>
    <label for="cost">维修费用</label>
    <input type="text" name="cost" id="cost" value="{{ request.form['cost'] or item['cost'] }}" required>
    <input type="submit" value="修改记录">
</form>
{% endblock %}